@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

#baseDiv{
	margin: 20px;
}

#sideDiv{
	width: 50%; 
	float: left; 

}

#news{
	background-color: lightgrey;
	margin: 30px;
	border-radius: 10px;
	height: 150px;
}

#newsTitle{
	float: left;
	margin-bottom: -5px;
	padding-top: 15px;
}
